
@using TPCN.Models;

@{
    ViewBag.Title = "Đăng Nhập & Đăng Ký";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


    <!-- products-breadcrumb -->

    <!-- //products-breadcrumb -->
    <!-- banner -->

        

            <!-- login -->
            <div class="w3_login">
                <h3>Đăng nhập & Đăng ký</h3>
                <div class="w3_login_module">
                    <div class="module form-module">
                        <div class="toggle">
                            <i class="fa fa-times fa-pencil"></i>
                            <div class="tooltip">Đăng ký</div>
                        </div>
                        <div class="form">
                            <h2>Đăng nhập</h2>
                            @ViewBag.ThongBao
                            <form action="#" method="post">
                                <input type="text" name="Username" placeholder="Tài khoản" required=" ">
                                <input type="password" name="Password" placeholder="Mật khẩu" required=" ">
                                <input type="submit" value="Xác nhận">
                                
                            </form>
                        </div>
                        @Html.Action("DangKy", "NguoiDung")
                        <div class="cta"><a href="#">Quên mật khẩu</a></div>
                    </div>
                </div>
                <script>
				$('.toggle').click(function(){
				  // Switches the Icon
				  $(this).children('i').toggleClass('fa-pencil');
				  // Switches the forms
				  $('.form').animate({
					height: "toggle",
					'padding-top': 'toggle',
					'padding-bottom': 'toggle',
					opacity: "toggle"
				  }, "slow");
				});
                </script>
            </div>
            <!-- //login -->
        <div class="clearfix"></div>

    <!-- //banner -->




