@model IEnumerable<TPCN.Models.SANPHAM>
@{
    ViewBag.Title = "CTLoai";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h3></h3>
@foreach (var item in Model)
{
    <div class="agile_top_brands_grids">
        <div class="col-md-3 top_brand_left">
            <div class="hover14 column">
                <div class="agile_top_brand_left_grid">
                    @*<div class="tag"><img src="~/images/tag.png" alt=" " class="img-responsive" /></div>*@
                    <div class="agile_top_brand_left_grid1">
                        <figure>
                            <div class="snipcart-item block">
                                <div class="snipcart-thumb">
                                    <a href="@Url.Action("CTSanPham","SanPham",new { sanpham=item.MASP})"><img title=" " alt=" " src="~/HinhSP/@item.HINHANH" /></a>
                                    @if (item.TENSP.Length > 50)
                                    {
                                        <p>@item.TENSP.Substring(0, 50)...</p>
                                    }
                                    else
                                    {
                                        <p>@item.TENSP</p>
                                    }
                                    @*<h4>$7.99 <span>$10.00</span></h4>*@
                                    <h4>@String.Format("{0:0,0}", item.DONGIA) VNĐ</h4>
                                </div>
                                <div class="snipcart-details top_brand_home_details">
                                    <form action="#" method="post">
                                        <fieldset>
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="business" value=" " />
                                            <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                                            <input type="hidden" name="amount" value="7.99" />
                                            <input type="hidden" name="discount_amount" value="1.00" />
                                            <input type="hidden" name="currency_code" value="USD" />
                                            <input type="hidden" name="return" value=" " />
                                            <input type="hidden" name="cancel_return" value=" " />
                                            <input type="submit" name="submit" value="Add to cart" class="button" />
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
}




